<h1 mat-dialog-title>NOTICE</h1>

<div mat-dialog-content>
    <p>{{description}}</p>
</div>

<div mat-dialog-actions>
    <button *ngIf="data.negative !== null" mat-button [mat-dialog-close]="data.negative" (click)="onNegativeClick()">{{negative}}</button>
    <button mat-button [mat-dialog-close]="data.positive" (click)="onPositiveClick()">{{positive}}</button>
</div>


<!-- <h1 mat-dialog-title>NOTICE</h1>
<h1 mat-dialog-title>{{data.description}}</h1>

<div mat-dialog-content>
    <p>{{data.description}}</p>
</div>

<div mat-dialog-actions>
    <button *ngIf="data.negative !== null" mat-button [mat-dialog-close]="data.negative" (click)="onNegativeClick()">{{data.negative}}</button>
    <button mat-button [mat-dialog-close]="data.positive" (click)="onPositiveClick()">{{data.positive}}</button>
</div>
 -->