<div class="container_mypage" fxLayout="column" fxLayoutAlign="center start">
    <div fxFlex>
        <p class="page_title">Host data</p>
    </div>

    <div fxFlex *ngIf="hosts?.length !== 0" fxFlexFill>
        <div fxLayout="column" *ngFor="let host of hosts">
            <a fxFlex [routerLink]="['/conversation', host.conversation_id]">
                <mat-card fxLayout="row" class="mypage-card" fxLayoutGap="4px">
                    <img [src]="host.visitor_thumb_url" fxFlex="0 0 100px">
                    <div fxFlex fxFlexAlign="start" class="body_title">
                        {{host.visitor_name}}
                    </div>
                </mat-card>
            </a>
        </div>
    </div>


    <div *ngIf="hosts.length === 0" fxFlex fxLayout="column">
        <div fxFlex class="mypage-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
            <img src="/assets/image/no-host.png" alt="No host data image" fxFlex>
            <div fxFlex>You haven't host any guests.</div>
            <div fxFlex>
                <button mat-flat-button color="primary" (click)="registerAsHost()">Register as host</button>
            </div>
        </div>
    </div>

    <div fxFlex fxFlexOffset="40px">
        <p class="page_title">Visit data</p>
    </div>

    <div fxFlex *ngIf="visits?.length !== 0" fxFlexFill>
        <div fxLayout="column" *ngFor="let visit of visits">
            <a fxFlex [routerLink]="['/conversation', visit.conversation_id]">
                <mat-card fxLayout="row" class="mypage-card" fxLayoutGap="4px">
                    <img [src]="visit.visitor_thumb_url" fxFlex="0 0 100px">
                    {{visit.place}} / {{visit.start}} / {{visit.end}}
                </mat-card>
            </a>
        </div>
    </div>

    <div fxFlex *ngIf="visits?.length === 0" fxLayout="column">
        <div fxFlex class="mypage-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
            <img src="/assets/image/no-visit.png" alt="No visit data image" fxFlex>
            <div fxFlex>You haven't created any visit plans yet.</div>
            <div fxFlex>
                <button mat-flat-button color="primary" (click)="createPlan()">Create plan</button>
            </div>
        </div>
    </div>

    <div fxFlex fxFlexOffset="40px">
        <p class="page_sub_title">Other options</p>
    </div>

    <div fxFlex>
        <mat-card class="mypage-card" fxLayoutGap="4px">
            <mat-list>
                <mat-list-item><a mat-button routerLink="." (click)="signout()">Sign out</a></mat-list-item>
            </mat-list>
        </mat-card>
    </div>

</div>