<div class="container_mypage" fxLayout="column" fxLayoutAlign="center start">
    <div fxLayout="column">
        <div fxFlex>
            <p class="page_title">Host data</p>
        </div>
        <div fxFlex *ngIf="hosts?.length !== 0">
            <div fxFlex *ngFor="let host of hosts">
                <mat-card class="mypage-card" fxLayoutGap="4px">
                    <a [routerLink]="['/conversation', host.conversation_id]">
                        <img [src]="host.visitor_thumb_url">
                        {{host.visitor_name}}
                    </a>
                </mat-card>
            </div>
        </div>
        <div *ngIf="hosts.length === 0" fxFlex fxLayout="column">
            <mat-card fxFlex class="mypage-card" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="center center">
                <div fxFlex>You haven't host any guests.</div>
                <div fxFlex>(Some drawing here)</div>
                <div fxFlex>
                    <button mat-flat-button color="primary" (click)="registerAsHost()">Register as host</button>
                </div>
            </mat-card>
        </div>

        <div fxFlex fxFlexOffset="40px">
            <p class="page_title">Visit data</p>
        </div>

        <div fxFlex *ngIf="visits?.length !== 0">
            <div fxFlex *ngFor="let visit of visits">
                <mat-card class="mypage-card" fxLayoutGap="4px">
                    {{visit.place}} / {{visit.start}} / {{visit.end}}
                </mat-card>
            </div>
        </div>
        <div fxFlex *ngIf="visits?.length === 0" fxLayout="column">
            <mat-card fxFlex class="mypage-card" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="center center">
                <div fxFlex>You haven't created any visit plans yet.</div>
                <div fxFlex>(Some drawing here)</div>
                <div fxFlex>
                    <button mat-flat-button color="primary" (click)="createPlan()">Create plan</button>
                </div>
            </mat-card>
        </div>

    </div>
</div>