.container_mypage {
    display:block;
    width:80%;
    height:100%;
    padding: 10px;
    margin:auto;
}

.mypage-card {
    margin: 6px;
}

.card_title {
    color: #000000;
    font-size:24px;
    white-space: nowrap;
}

.card_sub_title {
    color: #1976D2;
    font-size:18px;
}

.card_body {
    color: #666666;
    font-size:18px;
}

.card_footer {
    color: #666666;
    font-size:18px;
    white-space: nowrap;
}

.card_small_thumbnail{
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.card_footer_highlight {
    color: #1976D2;
    font-size:18px;
    white-space: nowrap;
}

.tmp {
    background-color: #FF0000;
}

.tmp2 {
    background-color: #00FF00;
    white-space: nowrap;
}

.tmp3 {
    background-color: #0000FF;
}
