.container_mypage {
    display:block;
    width:100%;
    height:100%;
    padding: 0px;
    margin: 0px;
}

.container_mypage_small {
    display:block;
    width:100%;
    height:100%;
    padding: 0px;
    margin: 0px;
}


.mypage-card {
    margin: 6px;
}

.card_title {
    color: #000000;
    font-size:24px;
    white-space: nowrap;
}

.card_sub_title {
    color: #1976D2;
    font-size:18px;
}

.card_body {
    color: #666666;
    font-size:18px;
}

.card_footer {
    color: #666666;
    font-size:18px;
    white-space: nowrap;
}

.card_small_thumbnail{
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.card_footer_highlight {
    color: #1976D2;
    font-size:18px;
    white-space: nowrap;
}

.mypage_title {
    color: #1976D2;
    font-size:32px;
    margin-top: 10px;
}

.fab_add {
    width: 64px;
    height: 64px;
}

.header_info {
    background-color: #eeeeee;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.header_info_text {
    margin-top: 6px;
}

.header_info_icon {
    width: 32px;
    height: 32px;
}

.tmp {
    background-color: #FF0000;
}

.tmp2 {
    background-color: #00FF00;
    white-space: nowrap;
}

.tmp3 {
    background-color: #0000FF;
}
