footer {
  background-color: #666666;
  text-align: center;
  height: 100px;
}

.footer_text {
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

#btmFooter {
  align-self: flex-end;
  height: 100px;
}

a {
  color: #ffffff;
}

a:hover {
  color: #cccccc;
}