<!-- <p>footer works!</p> -->
<!-- <footer class="md-padding"> -->
<footer>
    <div id="btmFooter" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="footer_text" fxFlex="20%" fxFlex.lt-md="40%" fxLayoutAlign="center center"><a routerLink="/terms" (click)="sendEvent('footer', 'terms', 'click')">Terms of use</a></div>
        <div class="footer_text" fxFlex="20%" fxFlex.lt-md="40%" fxLayoutAlign="center center"><a routerLink="/privacy" (click)="sendEvent('footer', 'privacy', 'click')">Privacy policy</a></div>
    </div>
</footer>