.container_host_start {
    display:block;
    width:80%;
    height:100%;
    padding: 10px;
    margin:auto;
}

.common_header_text {
    color: #1976D2;
    font-size:24px;
}

.visitor_image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.visit_info {
    width: 80%;
}

.visit_info .title{
    font-weight:bold;
}

.problem_image {
    height: 60px;
    width: 60px;
}
