<p>host-start works!</p>
<div *ngIf="state === 1">
    <p>Overview explanation here</p>
    <button mat-flat-button color="primary" (click)="onNextButtonClicked()">Register as host</button>
</div>
<!-- Match with visitor -->
<div *ngIf="state === 2">
    <p>下記のビジターとマッチングしました！</p>
    <p>{{matched_visit.visit_id}}</p>
    <p>{{matched_visit.user_id}}</p>
    <p>{{matched_visit.user_name}}</p>
    <p>{{matched_visit.thumb_url}}</p>
    <p>{{matched_visit.place}}</p>
    <p>{{matched_visit.start}}</p>
    <p>{{matched_visit.end}}</p>
    <p>{{matched_visit.comment}}</p>
    <button mat-flat-button color="primary" (click)="startConversation()">Start conversation</button>
</div>
<!-- No visitor waiting -->
<div *ngIf="state === 3">
    <p>マッチングを待っています。マッチングしたらFacebookのメッセージでお知らせします</p>
</div>


<button mat-raised-button (click)="openDialogTest()">Pick one</button>