<div class="container_visit_start" fxLayout="column" fxLayoutAlign="center start">
  <!-- <img class="header_image" src="/assets/image/header-image01.jpg"/> -->
  <!-- state 1 start -->
  <div *ngIf="state === 1" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px">
    <div fxFlex>
      <p class="page_title">What can I do if I create visit schedule?</p>
    </div>
    <div fxFlex>
      <p class="body_text">If you create visit, you can help Japanese to be an advidor for you.</p>
      <p class="body_text">Detail explain here</p>
    </div>
    <div fxFlex>
      <p class="body_text">OK, now create visit schedule! It only takes 30 seconds!</p>
    </div>
    <div fxFlex>
      <button (click)="onNextButtonClicked()" mat-flat-button color="primary">Create visit</button>
    </div>
  </div>
  <!-- state 1 end -->
  <!-- state 2 start -->
    <form *ngIf="state === 2" fxLayout="column" fxFlexFill (ngSubmit)="onSubmit()" #form1="ngForm">
    <!-- <form [hidden]="state !== 2" fxLayout="column" fxFlexFill (ngSubmit)="onSubmit()" #form1="ngForm"> -->
      <div class="page_title" fxFlex>Create your plan</div>
      <div class="page_sub_title" fxFlex>Problem / Concerns</div>
      <div fxFlex>Please select your concerns for your japan travel. You can select more than two items</div>
      <!-- <div class="form-group" fxFlex> -->
      <mat-selection-list fxFlex #problem [(ngModel)]="selectedOptions" (ngModelChange)="onProblemItemSelected($event)" name="problem">
        <mat-list-option *ngFor="let problem of problems | keyvalue" [value]="problem">
          <img matListAvatar [src]='"/assets/image/problems/"+problem.value.icon+".png"' class="problem_image">
          <div matLine>{{problem.value.label}}</div>
        </mat-list-option>
      </mat-selection-list>
      <div fxFlex>
        <div class="page_sub_title">Plan details</div>
        <label class="col-sm-2 control-label">Place</label>
        <div class="col-sm-5">
          <input type="text" name="name" required class="form-control" [(ngModel)]="visit.place" #name="ngModel">
            <div class="alert alert-danger" [hidden]="name.valid || name.untouched">
              <span class="glyphicon glyphicon-exclamation-sign"></span> Place is required
            </div>
        </div>
      </div>

      <mat-form-field class="visit_start_picker" fxFlex>
        <input matInput [matDatepicker]="picker_start" placeholder="Choose a date" name="start date" required [(ngModel)]="visit.start" #start="ngModel">
        <mat-datepicker-toggle matSuffix [for]="picker_start"></mat-datepicker-toggle>
        <mat-datepicker #picker_start></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="visit_start_picker" fxFlex>
        <input matInput [matDatepicker]="picker_end" placeholder="Choose a date" name="end date" required [(ngModel)]="visit.end" #end="ngModel">
        <mat-datepicker-toggle matSuffix [for]="picker_end"></mat-datepicker-toggle>
        <mat-datepicker #picker_end></mat-datepicker>
      </mat-form-field>

      <div class="form-group" fxFlex>
        <label class="col-sm-2 control-label">Comment</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="nickname" [(ngModel)]="visit.comment" #comment>
        </div>
      </div>

      <div class="form-group" fxFlex>
        <div class="col-sm-offset-2 col-sm-5">
          <button type="submit" class="btn btn-primary" [disabled]="!form1.form.valid">Create visit plan</button>
        </div>
      </div>
   </form>
  <!-- state 3 start -->
  <!-- <div *ngIf="state === 3" fxLayout="column"> -->
  <div [hidden]="state !== 3" fxLayout="column">
    <div fxFlex>
      <p class="page_title">Waiting for hosts...</p>
    </div>
    <div fxFlex>
      <p class="body_text">Please wait a moment.</p>
      <p class="body_text">Please click below button so that we can notify you as soon as we find your host..</p>
    </div>
    <div fxFlex>
      <div class="fb-send-to-messenger" 
        messenger_app_id="1194303814099473"
        page_id="103120367999159"
        [attr.data-ref]="user_id"
        color="blue"
        size="xlarge">
      </div>
    </div>
  </div>
  <!-- state 3 end -->
  <!-- state 4 start -->
  <!-- <div [hidden]="state !== 4" fxLayout="column"> -->
  <div *ngIf="state === 4" fxLayout="column">
    <div fxFlex>
      <p class="page_title">Congraturations! Matched with your host.</p>
    </div>
    <div fxFlex>
      <p class="body_text">Now let’s start conversation.</p>
    </div>
    <mat-card fxFlex fxLayout="column" fxLayoutAlign="center center">
      <!-- {{host.thumb_url}} -->
      <p class="common_header_text" fxFlex>
        {{host.user_name}}
      </p>
      <span fxFlex>
        <img class="host_image" mat-card-image [src]="host.thumb_url" alt="Host image">
      </span>
      <div fxFlex> 
        <button type="button" mat-flat-button color="primary" (click)="startConversation()">Start conversation</button>
      </div>
    </mat-card>
  </div>
  <!-- state 4 end -->
</div>
