.container_visit_start {
    display:block;
    width:80%;
    height:100%;
    padding: 10px;
    margin:auto;
}

.header_image {
    width: 100%; 
    height: auto;
}

.visit_start_picker {
    margin-left: 16px;
    width: 50%;
}
