<div>
    Create dummy user 1
    <form fxLayout="row" (ngSubmit)="createDummyUserData1()" #form2="ngForm" flex>
        <button type="submit" class="btn btn-primary">Create dummy user 1 </button>
    </form>
</div>
<div>
    <form fxLayout="row" (ngSubmit)="createDummyUserData2()" #form2="ngForm" flex>
        <button type="submit" class="btn btn-primary">Create dummy user 2 </button>
    </form>
</div>


<div>
    Create Conversation
    <form fxLayout="row" (ngSubmit)="createDummyData1()" #form2="ngForm" flex>
        <button type="submit" class="btn btn-primary">Create dummy conversatioon1 </button>
    </form>
    <nav>
        <a [routerLink]="['/conversation', conversation_id]">Go to conversation page</a>
    </nav>
</div>

<div>
    Update comment
    <form fxLayout="row" (ngSubmit)="updateCommentAsHost()" #form2="ngForm" flex>
        <button type="submit" class="btn btn-primary">Update comment as Host </button>
    </form>
    <form fxLayout="row" (ngSubmit)="updateCommentAsVisitor()" #form2="ngForm" flex>
        <button type="submit" class="btn btn-primary">Update comment as visitor </button>
    </form>

</div>

<div>
    Delete user
    <form fxLayout="row" (ngSubmit)="deleteUsers()" #form2="ngForm" flex>
        <button type="submit" class="btn btn-primary">Delete users</button>
    </form>
</div>

<div>
    Delete host
    <form fxLayout="row" (ngSubmit)="deleteHosts()" #form2="ngForm" flex>
        <button type="submit" class="btn btn-primary">Delete host</button>
    </form>
</div>

<div>
    Delete visit
    <form fxLayout="row" (ngSubmit)="deleteVisits()" #form2="ngForm" flex>
        <button type="submit" class="btn btn-primary">Delete visit</button>
    </form>
</div>

<div>
    Delete conversation
    <form fxLayout="row" (ngSubmit)="deleteConversations()" #form2="ngForm" flex>
        <button type="submit" class="btn btn-primary">Delete conversation</button>
    </form>
</div>

<div>
    Delete local user data
    <form fxLayout="row" (ngSubmit)="deleteLocalUserData()" #form2="ngForm" flex>
        <button type="submit" class="btn btn-primary">Delete local user data</button>
    </form>
</div>

<div>
    Delete state data
    <form fxLayout="row" (ngSubmit)="deleteStateData()" #form2="ngForm" flex>
        <button type="submit" class="btn btn-primary">Delete state data</button>
    </form>
</div>