<div class="container_landing" fxLayout="column">
<!--   <div class="bg" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center"> -->
  <div class="bg" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex="40%" fxLayoutAlign="center start" fxLayoutGap="10px" fxFlexOffset="20px">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img fxFlex src="/assets/image/traca_icon.png"/>
        <div class="landing_title" fxLayout="column" fxFlex fxLayoutAlign="center center">
          Traca
        </div>
      </div>
      <div fxLayoutAlign="center center">
        <div class="landing_title" fxLayout="column" fxFlex fxLayoutAlign="center center">
          Online care service for foreign traveller in Tokyo
        </div>
      </div>
      <div fxLayoutAlign="center center">
        <button type="button" (click)="signInWithFB()" *ngIf="loggedIn===false" mat-flat-button color="primary">Sign In With Facebook</button>
      </div>
    </div>
    <div fxLayout="column" fxFlex="40%" fxLayoutAlign="center center">
      <div fxLayoutAlign="center center">
        <img src="/assets/image/dummy.jpg"/>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxFlexOffset="20px">
    <div fxFlex="30%" fxLayoutAlign="center center">
      <img src="/assets/image/dummy.jpg"/>
    </div>
    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center start">
      <p class="accent_headline">
        What is this service?
      </p>
      <p class="body_text">
      こんにちは、めそ子です。いつもは広報兼人事担当として、クラスメソッドをアピールするための活動をしていますが、今回は僭越ながら、少しだけ、私のことについてお話しさせてください。
      </p>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxFlexOffset="20px">
    <div fxFlex="30%" fxLayoutAlign="center center">
      <img src="/assets/image/dummy.jpg"/>
    </div>
    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center start">
      <p class="accent_headline">
        What is this service?
      </p>
      <p class="body_text">
      こんにちは、めそ子です。いつもは広報兼人事担当として、クラスメソッドをアピールするための活動をしていますが、今回は僭越ながら、少しだけ、私のことについてお話しさせてください。
      </p>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxFlexOffset="20px">
    <div fxFlex="30%" fxLayoutAlign="center center">
      <img src="/assets/image/dummy.jpg"/>
    </div>
    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center start">
      <p class="accent_headline">
        What is this service?
      </p>
      <p class="body_text">
      こんにちは、めそ子です。いつもは広報兼人事担当として、クラスメソッドをアピールするための活動をしていますが、今回は僭越ながら、少しだけ、私のことについてお話しさせてください。
      </p>
    </div>
  </div>
</div>

<div class="fb-send-to-messenger" 
  messenger_app_id="1194303814099473" 
  page_id="Japan-Inbound-service-103120367999159"
  data-ref="test-ref" 
  color="blue" 
  size="xlarge">
</div>
<div class="fb-messengermessageus" 
  messenger_app_id="1194303814099473" 
  page_id="Japan-Inbound-service-103120367999159"
  color="blue"
  size="large">
</div>
<nav>
  <a routerLink="/visit-start">Visitor flow</a>
</nav>
<nav>
  <a routerLink="/host-start">Host flow</a>
</nav>
<nav>
  <a routerLink="/conversation/10221180198043872/10221180198043872">Conversation flow</a>
</nav>
<nav>
  <a routerLink="/debug/">Debug flow</a>
</nav>


<!-- <img src="/assets/image/heroshot01.jpg"> -->

<!-- <div class="container" fxLayout="column">
  <div fxLayout="row">
    <div fxLayout="column">
      <div class="item item3">Service icon / Name</div>
      <div class="item item4">Get your advisor while you are in Japan</div>
      <div class="item item5">
        <button type="button" (click)="signInWithFB()" *ngIf="loggedIn===false" mat-flat-button color="primary">Sign In With Facebook</button>
      </div>
    </div>
    <div>2</div>
  </div>
  <div class="center" fxFlex="grow" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
      <img src="/assets/image/dummy.jpg" width="100px" />
      <span>
        こんにちは、めそ子です。いつもは広報兼人事担当として、クラスメソッドをアピールするための活動をしていますが、今回は僭越ながら、少しだけ、私のことについてお話しさせてください。
      </span>
    </div>
    <div fxLayout="row-reverse" fxLayoutAlign="start start" fxLayoutGap="10px">
      <img src="/assets/image/dummy.jpg" width="100px" />
      <span>
        こんにちは、めそ子です。2017年6月より2代目めそ子として、広報兼人事担当のお仕事をしています。先輩から引き継いだ「めそ子通信」は今後私が執筆してゆきますので、どうぞよろしくお願いします。
      </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
      <img src="/assets/image/dummy.jpg" width="100px" />
      <span>
        こんにちは、めそ子です。昼間の雲は高い位置に浮かび、夜はずいぶん涼しくなって、すっかり秋めいてきましたね。まだサンダルを履いていたいところですが、そろそろ衣替えもしなくちゃです。
      </span>
    </div>
  </div>
</div> -->

<!-- <div class="example-container mat-elevation-z8">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>Welcome <span *ngIf="loggedIn===true">{{user.firstName}} {{user.lastName}}, </span> to Angular 8 Application</h2></mat-card-title>
      <mat-card-subtitle>
        <button type="button" (click)="signInWithFB()" *ngIf="loggedIn===false" mat-flat-button color="primary">Sign In With Facebook</button>
        <button type="button" (click)="signOut()" *ngIf="loggedIn===true" mat-flat-button color="primary">Sign Out From Facebook</button>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card" *ngIf="loggedIn===true">
    <mat-card-header>
      <mat-card-title><h2>Your Facebook Profile:</h2></mat-card-title>
      <mat-card-subtitle>Full Name: {{user.firstName}} {{user.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="user.photoUrl" alt="My Facebook Photo">
    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </mat-card-content>
  </mat-card>
</div> -->