.container_landing {
    display:block;
    width:100%;
    height:100%;
    color: #FFFFFF;
    /*background: url('/assets/image/heroshot01.png') no-repeat center center fixed;*/
    /*background-image: url('/assets/image/heroshot01.png')*/
}

.bg {
    background-image:url('/assets/image/heroshot01.png');
    background-repeat:  no-repeat;
    background-position:center center;
    background-size:cover;
    width:100%;
    height:100%;
}

.item {
    width:70%;
    height:100%;
    background-color: #99cc00;
}

.content {
    color: #333333;
}

/*.bg {
    background-image:url('/assets/image/heroshot01.png');
    background-repeat:  no-repeat;
    background-position:center center;
    background-size:cover;
    width:100%;
    height:100%;
}
*/