<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a mat-button routerLink="/" class="header-button">Inbound</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button">Overview</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button">My page</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button">Privacy policy</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button">Terms</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button">Sign out</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>