<mat-toolbar color="primary">
<!--   <mat-toolbar-row>
    <span>
      <a mat-button routerLink="/" class="header-button">Inbound</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button">Overview</a>
    </span>
    <span class="example-fill-remaining-space"></span>
    <span *ngIf="userData != null">
      <a mat-button routerLink="/my-page" class="header-button">{{userData.user_name}}</a>
    </span>
    <span *ngIf="userData == null">
      <a mat-button routerLink="" class="header-button">Sign in</a>
    </span>
  </mat-toolbar-row> -->
  <mat-toolbar-row>
    <span>
      <a mat-button routerLink="/" class="header-button">Inbound</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button">Overview</a>
    </span>
    <span fxFlex></span>
    <span *ngIf="userData != null" fxFlexAlign="center end">
      <a mat-button routerLink="/my-page" class="header-button">{{userData.user_name}}</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>