<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a mat-button routerLink="/" class="header-button">Inbound</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button">Overview</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button">My page</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button">Privacy policy</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button">Terms</a>
    </span>
    <span>
      <a mat-button routerLink="" class="header-button" (click)="ClearUserData()">Sign out</a>
    </span>
    <span class="example-fill-remaining-space"></span>
    <span *ngIf="userData != null">
      <a mat-button routerLink="/my-page" class="header-button">{{userData.user_name}}</a>
    </span>
<!--     <span *ngIf="userData != null">
      <a mat-button routerLink="" class="header-button">
        <img mat-card-image [src]="userData.thumb_url" alt="My Facebook Photo"></a>
    </span> -->
    <span *ngIf="userData == null">
      <a mat-button routerLink="" class="header-button">Sign in</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>