.container_choose {
    display:block;
    width:80%;
    height:100%;
    padding: 10px;
    margin:auto;
}

.choose-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.choose_image {
    max-width:100%;
}

.tmp {
    background-color: #FF0000;
}

.tmp2 {
    background-color: #00FF00;
}
