<div fxLayout="row" fxLayoutAlign="center" fxFill>
  <div fxFlex></div>
  <div fxFlex="70">
    <div fxLayout="column">
      <div class="mat-h1" fxFlex>
        Choose your type
      </div>
      <div fxLayout="row">
        <div fxFlex fxFlexOffset="20px">
          <mat-card class="choose-card">
            <mat-card-header>
              <div mat-card-avatar class="choose-header-image"></div>
              <mat-card-title>For Visitors</mat-card-title>
              <mat-card-subtitle>If you would come to Japan</mat-card-subtitle>
            </mat-card-header>
            <a routerLink="/visit-start">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                      This is for visitors. You can ask questions to Japanese.
                  </p>
                </mat-card-content>
            </a>
          </mat-card>
        </div>
        <div fxFlex>
          <mat-card class="choose-card">
            <mat-card-header>
              <div mat-card-avatar class="choose-header-image"></div>
              <mat-card-title>For Japanese</mat-card-title>
              <mat-card-subtitle>If you can give Japanese information</mat-card-subtitle>
            </mat-card-header>
            <a routerLink="/host-start">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                      This is mainly for for Japanese. You can give som advices, hints & tips for visitors.
                  </p>
                </mat-card-content>
            </a>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex></div>
</div>

<!-- <div fxLayout="column" fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayout="row wrap">
    <div class="mat-h1" fxFlex="70%">
     Choose your type
    </div>
  </div>
  <div fxLayout="row" fxLayout="row wrap">
    <div fxFlex fxFlexOffset="20px">
      <mat-card class="choose-card">
        <mat-card-header>
          <div mat-card-avatar class="choose-header-image"></div>
          <mat-card-title>For Visitors</mat-card-title>
          <mat-card-subtitle>If you would come to Japan</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/visit-start">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  This is for visitors. You can ask questions to Japanese.
              </p>
            </mat-card-content>
        </a>
      </mat-card>
    </div>
    <div fxFlex>
      <mat-card class="choose-card">
        <mat-card-header>
          <div mat-card-avatar class="choose-header-image"></div>
          <mat-card-title>For Japanese</mat-card-title>
          <mat-card-subtitle>If you can give Japanese information</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/host-start">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  This is mainly for for Japanese. You can give som advices, hints & tips for visitors.
              </p>
            </mat-card-content>
        </a>
      </mat-card>
    </div>
  </div>
</div> -->