html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.headline {
    color: #1976D2;
}

.common_main_text {

}

.common_header_text {
    color: #1976D2;
    font-size:24px;
}

.common_accent_text {
    color: #EF5350;
}

.main {
    color: #2196F3;
}

.sub {
    color: #1976D2;
}

.accent {
    color: #EF5350;
}