html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.headline {
    color: #1976D2;
}



.main {
    color: #2196F3;
}

.sub {
    color: #1976D2;
}

.accent {
    color: #EF5350;
}